.widgetSm {
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px #004d40;
    box-shadow: 0px 0px 15px -10px #004d40;
    padding: 20px;
    margin-right: 20px;
}

.widgetSmTitle {}

.widgetSmList {}

.widgetSmListItem {}

.widgetSmImg {}

.widgetSmProduct {}

.widgetSmProductName {}